<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Random User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let data of userData">
    <ion-item (click)="openModal(data)">
      <ion-avatar slot="start">
        <img src="{{data.picture.thumbnail}}">
      </ion-avatar>
      <ion-label>
        <h3 ion-text>{{data.name.title}}, {{data.name.first}} {{data.name.last}}</h3>
        <p>Email : {{data.email}}</p>
      </ion-label>
      <!-- {{data.email}} -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
